<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FourWayValve</title>
    <link rel="stylesheet" href="../../../libs/css/pure/pure-min.css">
    <link rel="stylesheet" href="FourWayValveWidget.css">

</head>
<body>

<svg height="50" width="70">
    <!-- Name-->
    <text class="valve4way__name" x="46" y="16">KB-1</text>
    <!-- Valve icon -->
    <!--up-->
    <polygon class="valve4way__up valve4way_1-pos" points="8,10 24,10 16,26"/>
    <!--down-->
    <polygon class="valve4way__down valve4way_2-pos" points="8,42 24,42 16,26"/>
    <!--left-->
    <polygon class="valve4way__left valve4way_2-pos" points="0,18 0,34 16,26"/>
    <!--right-->
    <polygon class="valve4way__right valve4way_1-pos" points="32,18 32,34 16,26"/>





</svg>

</body>
</html>