<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heater</title>
    <link rel="stylesheet" href="../../../libs/css/pure/pure-min.css">
    <link rel="stylesheet" href="HeaterWidget.css">
</head>
<body>
<svg width="60" height="60">

    <!-- Arrow -->
    <defs>
        <marker id="Triangle" viewBox="0 0 10 10" refX="1" refY="3"
                markerWidth="6" markerHeight="6" orient="auto">
            <path d="M 0 0 L 6 3 L 0 6 z"/>
        </marker>
    </defs>

    <!-- HeaterWidget name -->
    <text class="heater__name" x="48" y="16">H1</text>
    <!-- HeaterWidget icon -->
    <rect class="heater__icon heater_on" x="0" y="0" width="30" height="30"
          transform="rotate(-45 40 10)"/>

    <polyline class="heater__icon" points="26,10 26,26"
              marker-end="url(#Triangle)"/>

    <polyline class="heater__icon" points="26,50 26,36"
              marker-end="url(#Triangle)"/>

</svg>
</body>
</html>