.dryer
{
    cursor: pointer;
}

.dryer-header,
.dryer-footer
{
    padding-left: 8px;
    padding-top: 4px;
}

.dryer-header_stopped,
.dryer-footer_stopped
{
    background-color: lightgrey;


}

.dryer-header_dew-point-mode,
.dryer-header_time-mode,
.dryer-footer_dew-point-mode,
.dryer-footer_time-mode
{
    background-color: limegreen;
    color: #fff;
}

.dryer-header_step-mode,
.dryer-header_hand-mode,
.dryer-footer_step-mode,
.dryer-footer_hand-mode
{
    background-color: orange;
}

.dryer-content-tank_off
{
    background-color: lightgrey;
}

.dryer-content-tank_switch,
.dryer-content-tank_standby
{
    background-color: lightgrey;
}

.dryer-content-tank_adsorption
{
    background-color: lime;
}

.dryer-content-tank_pdown,
.dryer-content-tank_pup,
.dryer-content-tank_cool-fan,
.dryer-content-tank_cool-air
{
    background-color: deepskyblue;
}

.dryer-content-tank_heat1,
.dryer-content-tank_heat2
{
    background-color: orange;
}

.dryer-content-tank1,
.dryer-content-tank2
{
    max-width: 140px;
    min-width: 140px;

}

.dryer-content-sensors
{
    min-width: 180px;
}

.dryer-content-sensors-board
{
    list-style-type: none;
    text-align: left;
    margin: 4px;
    padding-left: 5px;
}

.dryer-content-tank1-board,
.dryer-content-tank2-board
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dryer-content-sensors-board li
{
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.dryer-content-tank1-board__name,
.dryer-content-tank1-board__state,
.dryer-content-tank1-board__timer,
.dryer-content-tank2-board__name,
.dryer-content-tank2-board__state,
.dryer-content-tank2-board__timer
{
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.dryer-header__timestamp
{
    font-size: 1em;
    margin: 0.2em 0 0;
    /*font-weight: 100;*/
    /*font-size: 0.2em;*/
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}