<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tank</title>
    <link rel="stylesheet" href="../../../libs/css/pure/pure-min.css">
    <link rel="stylesheet" href="TankWidget.css">

</head>
<body>

<!--Tank -->
<svg width="95" height="140">
    <!--Rectangle -->
    <rect class="tank__rect tank_heat" x="0" y="0" rx="20" ry="20" width="90" height="135"/>
    <!-- Name -->
    <text class="tank__name" x="45" y="32">КОЛОННА 1</text>
    <!-- State line 1 -->
    <text class="tank__state-line1" x="45" y="57">Нагрев</text>
    <!-- State line 2-->
    <text class="tank__state-line2" x="45" y="77">2 стадия</text>
    <!-- Timer -->
    <text class="tank__timer" x="45" y="107">00:33:32</text>
</svg>

</body>
</html>