.setting-devices-table
{
    text-align: center;
}

.setting-devices-row:nth-child(2n+1) {
    background-color: #f2f2f2;
}

.setting-devices-table-buttons__connect,
.setting-devices-table-buttons__delete,
.setting-devices-table-buttons__edit {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.setting-devices-table-buttons__connect {
    background: rgb(28, 184, 65);
}

.setting-devices-table-buttons__delete {
    background: rgb(202, 60, 60);
}

.setting-devices-table-buttons__edit {
    background: rgb(223, 117, 20);
}
