<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../../libs/css/pure/pure-min.css">
</head>
<body>

<div class="valve">
    <header class="valve-name">
        <h6>ВК1</h6>
    </header>

    <div clss="valve-board">
        <svg height="210" width="500">
            <polygon points="0,24 0,40 16,32" style="fill:lime;stroke:purple;stroke-width:1"/>
            <polygon points="16,32 32,24 32,40" style="fill:lime;stroke:purple;stroke-width:1"/>
            <line x1="16" y1="16" x2="16" y2="32" style="stroke:black;stroke-width:1"/>
            <rect x="8" y="0" width="16" height="16" style="fill:rgb(0,255,0);stroke-width:1;stroke:rgb(0,0,0)"/>
            Sorry, your browser does not support inline SVG.
        </svg>
    </div>
</div>

</body>
</html>