<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Шаблон </title>

    <link rel="stylesheet" href="../../libs/css/pure/pure-min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="PIDiagram.css">
    <link rel="stylesheet" href="FanWidget/FanWidget.css">
    <link rel="stylesheet" href="FourWayValve/FourWayValveWidget.css">
    <link rel="stylesheet" href="HeaterWidget/HeaterWidget.css">
    <link rel="stylesheet" href="./TankWidget/TankWidget.css">
    <link rel="stylesheet" href="RelayWidget/RelayWidget.css">
    <link rel="stylesheet" href="./ValveWidget/ValveWidget.css">
    <link rel="stylesheet" href="SensorBarWidget/SensorBarWidget.css">
    <link rel="stylesheet" href="PipeWidget/PipeWidget.css">
    <link rel="stylesheet" href="ArrowWidget/ArrowWidget.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.5/svg.js"></script>
    <script src="ValveWidget/ValveWidget.js"></script>
    <script src="RelayWidget/RelayWidget.js"></script>
    <script src="FanWidget/FanWidget.js"></script>
    <script src="HeaterWidget/HeaterWidget.js"></script>
    <script src="TankWidget/TankWidget.js"></script>
    <script src="FourWayValve/FourWayValveWidget.js"></script>
    <script src="SensorBarWidget/SensorBarWidget.js"></script>
    <script src="PipeWidget/PipeWidget.js"></script>
    <script src="ArrowWidget/ArrowWidget.js"></script>



</head>
<body>


<div id="drawing">
</div>
<script src="PIDiragram.js"></script>

</body>
</html>