.title
{
    color: rgb(45, 62, 80);
    padding-left: 0.8em;
}

.main-nav {
    background-color: rgb(45, 62, 80);

    /*margin-bottom: 1em;*/
    white-space: nowrap;
    position: relative;

    border-bottom-color: black;
    border-radius: 0;
}

.main-board {
    display: table;
    width: auto;
    padding: 1em;
}

.alert-board {

    position: fixed;
    bottom: 1em;
    right: 50px;

    z-index: 2;

    -webkit-column-count: auto; /* Chrome, Safari, Opera */
    -moz-column-count: auto; /* Firefox */
    column-count: auto;

    -webkit-column-gap: 4em; /* Chrome, Safari, Opera */
    -moz-column-gap: 4em; /* Firefox */
    column-gap: 4em;

}
