.title
{
    color: rgb(45, 62, 80);
    padding-left: 0.8em;
}

.main-nav {
    background-color: rgb(45, 62, 80);

    /*margin-bottom: 1em;*/
    white-space: nowrap;
    position: relative;

    border-bottom-color: black;
    border-radius: 0;
}

.main-board {
    display: table;
    width: auto;
    padding: 1em;
}